In [1]:
import pandas as pd

In [2]:
filename = "data/r2_survey_answers_csv.csv"

In [3]:
df_raw = pd.read_csv(filename, encoding="cp932")

In [4]:
df_raw.shape

(1788, 294)

In [5]:
df_use = df_raw.iloc[47:, 1:13]
df_use.columns = [
    "自治体名", "提出状況",
    "よく知っている", "詳細は知らない", "名前は知っている", "知らない",
    "2020年度中", "2021年上期", "2021年下期", "未計画", "公開済み",
    "自由記述"
]

In [6]:
df_use.shape

(1741, 12)

In [7]:
df_use.head()

,自治体名,提出状況,よく知っている,詳細は知らない,名前は知っている,知らない,2020年度中,2021年上期,2021年下期,未計画,公開済み,自由記述
47,北海道 札幌市,提出済,1,0,0,0,0,0,0,0,1,NaN
48,北海道 函館市,未提出,0,0,0,0,0,0,0,0,0,NaN
49,北海道 小樽市,提出済,1,0,0,0,0,0,0,0,1,NaN
50,北海道 旭川市,提出済,1,0,0,0,0,0,0,0,1,NaN
51,北海道 室蘭市,提出済,1,0,0,0,0,0,0,0,1,NaN

In [8]:
df_use.iloc[:, 0].str.split(" ")

47       [北海道, 札幌市]
48       [北海道, 函館市]
49       [北海道, 小樽市]
50       [北海道, 旭川市]
51       [北海道, 室蘭市]
           ...
1783    [沖縄県, 久米島町]
1784    [沖縄県, 八重瀬町]
1785    [沖縄県, 多良間村]
1786     [沖縄県, 竹富町]
1787    [沖縄県, 与那国町]
Name: 自治体名, Length: 1741, dtype: object

In [9]:
df_no1 = df_use.iloc[:, 2:6]

In [10]:
df_no1.head()

    よく知っている  詳細は知らない  名前は知っている  知らない
47        1        0         0     0
48        0        0         0     0
49        1        0         0     0
50        1        0         0     0
51        1        0         0     0

In [11]:
def get_category(row):
    if row.sum() == 0:
        return '未回答'
    else:
        return row.idxmax()

In [12]:
df_no1.apply(get_category, axis=1)

47       よく知っている
48           未回答
49       よく知っている
50       よく知っている
51       よく知っている
          ...
1783     詳細は知らない
1784     よく知っている
1785    名前は知っている
1786     詳細は知らない
1787     詳細は知らない
Length: 1741, dtype: object

In [13]:
df_no2 = df_use.iloc[:, 6:11]

In [14]:
df_no2.head()

    2020年度中  2021年上期  2021年下期  未計画  公開済み
47        0        0        0    0     1
48        0        0        0    0     0
49        0        0        0    0     1
50        0        0        0    0     1
51        0        0        0    0     1

In [15]:
df_no2.apply(get_category, axis=1)

47         公開済み
48          未回答
49         公開済み
50         公開済み
51         公開済み
         ...
1783    2021年下期
1784    2021年下期
1785        未計画
1786        未計画
1787        未計画
Length: 1741, dtype: object

In [16]:
df = pd.concat(
        [
         df_use.iloc[:, 0].str.split(" ", expand=True),
         df_use.iloc[:, [1]],
         df_use.iloc[:, 2:6].apply(get_category, axis=1),
         df_use.iloc[:, 6:11].apply(get_category, axis=1),
         df_use.iloc[:, 11]
        ],
    axis=1,
)

In [17]:
df.columns = ["都道府県", "市町村", "提出状況", "知名度", "公開状況", "自由記述"]

In [18]:
df = df.astype({
    "都道府県": "string", "市町村": "string",
    "提出状況": "category", "知名度": "category", "公開状況": "category", "自由記述": "string"})

In [19]:
df.head()

   都道府県  市町村 提出状況      知名度  公開状況  自由記述
47  北海道  札幌市  提出済  よく知っている  公開済み  <NA>
48  北海道  函館市  未提出      未回答   未回答  <NA>
49  北海道  小樽市  提出済  よく知っている  公開済み  <NA>
50  北海道  旭川市  提出済  よく知っている  公開済み  <NA>
51  北海道  室蘭市  提出済  よく知っている  公開済み  <NA>

In [20]:
df.dtypes

都道府県    string[python]
市町村     string[python]
提出状況          category
知名度           category
公開状況          category
自由記述    string[python]
dtype: object

In [1]:
df.to_pickle("df-sumarry.pkl")

NameError: name 'df' is not defined